<!-- views/admin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Panel de Administración</title>
</head>
<body>
<nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href=".." class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a id="users-link" href="../admin/users">Usuarios</a></li>
            <li><a id="accommodations-link" href="../admin/accommodations">Alojamientos</a></li>
            <li><a id="reservations-link" href="../admin/reservations">Reservas</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a id="users-link-mobile" href="./admin/users">Usuarios</a></li>
            <li><a id="accommodations-link-mobile" href="./admin/accommodations">Alojamientos</a></li>
            <li><a id="reservations-link-mobile" href="./admin/reservations">Reservas</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<header>
</header>

<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Panel de Administración</h1>
            <div class="row center">
                <h5 class="header col s12 light">Este es la página de administración de la aplicación.</h5>
                <p class="text-accent-1">Aquí encontrarás diferentes opciones para interactuar con la base de datos</p>
            </div>
            <div class="row center">
                <a href="/admin/users" id="admin-users-button" class="btn-large waves-effect waves-light blue">Usuarios</a>
                <a href="/admin/accommodations" id="admin-accomm-button" class="btn-large waves-effect waves-light orange lighten-2">Alojamientos</a>
                <a href="/admin/reservations" id="admin-reserv-button" class="btn-large waves-effect waves-light green lighten-2">Reservas</a>
            </div>

            <br><br>

        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
