<!-- footer.ejs -->
<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Información de Contacto</h5>
                <p class="grey-text text-lighten-4">
                    Correo Electrónico: lovelylofts.alicante@gmail.com<br>
                    Teléfono: (+34) 625 17 53 72
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces Rápidos</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/about">Acerca de Nosotros</a></li>
                    <li><a class="grey-text text-lighten-3" href="/contact">Contacto</a></li>
                    <li><a class="grey-text text-lighten-3" href="/terms">Términos y Condiciones</a></li>
                    <li><a class="grey-text text-lighten-3" href="/privacy">Política de Privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2024 LovelyLofts </a>
        </div>
    </div>
</footer>
