<!-- views/register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Registro de Usuario</title>
</head>
<body>

<%- include('navbar', { showProfile: false, showAdmin: false}) %>

<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
<div class="section no-pad-bot" id="register-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <form class="col l8 s12" action="/auth/register" method="post">
                <div class="row">
                    <h4 class="header center">Registro de usuario</h4>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="nombre">Nombre y Apellidos</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="telefono">Teléfono:</label>
                        <input type="number" id="telefono" name="telefono" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="username">Email:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light teal" type="submit" name="action">Registrarse
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        <br><br>
    </div>
</div>

<%- include('./footer.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
